@import "variables.scss";

#app {
  font-family: $base-font-family;
  text-align: center;
  box-sizing: border-box;
  margin-top: 60px;
  color: $base-color;

  @media (min-width: $break-small) {
    width: 50vw;
    margin: 0 auto;
  }
}

svg {
  cursor: pointer;
  color: $base-secondary-color;
  opacity: 0.8;

  &[disabled] {
    pointer-events: none;
    color: #999;
  }

  &:hover {
    opacity: 1;
  }
}

.no-items-message {
  font-size: 0.75rem;
  margin: 1rem 0;
}
